body {
  margin: 0;
  padding: 0;
  background: #182952;
}

#main {
  height: 55px;
  width: 55px;
  background: #e14594;
  box-shadow: 3px 3px 1px rgb(0, 0, 0, .2);
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main:hover {
  cursor: pointer;
}

#c1, #c2, #c3 {
  height: 5px;
  width: 5px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 49%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

#c2 {
  left: 50%;
}

#c3 {
  left: 51%;
}

#c1 img, #c2 img, #c3 img {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border-radius: 50%;
}